.cursor {
    cursor: pointer;
}

.margin {
    margin-right: 0.3em;
}

.logout-button {
    margin-right: 0.4em;
    margin-left: 0.4em;
}

/* XS */
@media (max-width: 767px) {
    .logout-button {
        margin-top: 30em;
    }
}

/* XS, SM */
@media (max-width: 991px) {
    .logout-button {
        margin-top: 30em;
    }
}

/* SM */
@media (min-width: 768px) and (max-width: 991px) {
    .logout-button {
        margin-top: 30em;
    }
}

/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
    .logout-button {
        margin-top: 30em;
    }
}

/* MD, LG */
@media (min-width: 992px) {
    .logout-button {
        margin-top: 30em;
    }
}

/* LG */
@media (min-width: 1200px) {
    .logout-button {
        margin-top: 31em;
    }
}

